swagger: "2.0"
info:
  description: |
    The Motus Driver API provides a mechanism for clients to add and retrieve driver information.
  version: "1"
  title: "Motus Driver API"
host: "api.motus.com"
basePath: "/v1"
tags:
- name: "drivers"
  description: "API methods dealing with Drivers in the Motus system."
schemes:
- "https"
paths:
  /drivers:
    get:
      tags:
        - "drivers"
      summary: "Get all Drivers"
      description: "Get all Drivers of Company"
      operationId: "getDrivers"
      produces:
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
                "type": "array"
                "items":
                  $ref: "#/definitions/Driver"
        401:
          description: "Caller not authorized properly"
        500:
          description: "A system error occured"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
        - "drivers"
      summary: "Create a new Driver in the Motus system"
      description: "Creates a new Driver in the Motus sytem. If a driver is submitted with a `clientEmployeeId1` that matches an existing driver, an error will be returned."
      operationId: "createDriver"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Driver object that needs to be added. The `clientEmployeeId1` field becomes the unique identifier of the driver."
          required: true
          schema:
            $ref: "#/definitions/Driver"
      responses:
        204:
          description: "Creation successful"
          headers:
            Location:
              schema:
                type: "string"
              description: "The url to the created object"
        400:
          description: "Driver data not formatted correctly or there was a validation error"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Caller not authorized properly"
        500:
          description: "A system error occured"
          schema:
            $ref: "#/definitions/Error"
  /drivers/{clientEmployeeId1}:
    get:
      tags:
        - "drivers"
      summary: "Get a driver by Client Employee ID"
      description: "Returns a Driver object"
      operationId: "getDriverById"
      produces:
      - "application/json"
      parameters:
      - name: "clientEmployeeId1"
        in: path
        description: "ID of the Driver to return"
        required: true
        type: "string"
        maxLength: 255
        pattern: '[\s\S]*'
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Driver"
        400:
          description: "Driver ID not formatted properly"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Caller not authorized properly"
        404:
          description: "User with that ID not found"
        500:
          description: "A system error occured"
          schema:
            $ref: "#/definitions/Error"
    put:
      tags:
        - "drivers"
      summary: "Update a Driver in the Motus system"
      description: "Updates a Driver in the Motus sytem. This call is idempotent, and will completely replace the driver's data with the new data provided.  Any empty fields in the body will result in the data being cleared from the Motus system. "
      operationId: "updateDriver"
      produces:
        - "application/json"
      parameters:
        - name: "clientEmployeeId1"
          in: path
          description: "ID of the Driver to update"
          required: true
          type: "string"
          maxLength: 255
          pattern: '[\s\S]*'
        - in: "body"
          name: "body"
          description: "Driver object that needs to be added.  ID is required."
          required: true
          schema:
            $ref: "#/definitions/Driver"
      responses:
        204:
          description: "Update successful"
          headers:
            Location:
              schema:
                type: "string"
              description: "The url to the updated object"
        400:
          description: "Driver ID not formatted properly"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Caller not authorized properly"
        404:
          description: "User with that ID not found"
        500:
          description: "A system error occured"
          schema:
            $ref: "#/definitions/Error"
definitions:
  Driver:
    type: "object"
    required:
      - "clientEmployeeId1"
      - "programId"
      - "firstName"
      - "lastName"
      - "address1"
      - "city"
      - "stateProvince"
      - "postalCode"
      - "email"
      - "startDate"
    properties:
      clientEmployeeId1:
        type: "string"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "A unique identifier to associate the driver with an entity in another system."
        example: "123ABC"
      clientEmployeeId2:
        type: "string"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "A secondary identifier to associate the driver with an entity in another system. This identifier is not used to uniquely identify the driver, but is passed back on exports and reporting."
      programId:
        type: "integer"
        format: "int64"
        maximum: 10000000000.0
        minimum: 1.0
        description: "An identifier to associate the driver with a Motus reimbursement program. These identifiers will be provided to you by Motus before the start of the reimbursement program."
      firstName:
        type: "string"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The driver's first (i.e. given) name."
      lastName:
        type: "string"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The driver's last (i.e. family) name."
      address1:
        type: "string"
        maxLength: 150
        pattern: '[\s\S]*'
        description: "The first line of the driver's home address."
      address2:
        type: "string"
        maxLength: 150
        pattern: '[\s\S]*'
        description: "The second line of the driver's home address."
      city:
        type: "string"
        maxLength: 100
        pattern: '[\s\S]*'
        description: "The city or town of the driver's home address."
      stateProvince:
        type: string
        maxLength: 100
        pattern: '[\s\S]*'
        description: "The state or province of the driver's home address."
      country:
        type: string
        maxLength: 25
        pattern: '[\s\S]*'
        description: "The country of the address in ISO-ALPHA-2 format (e.g. US or CA). Defaults to `US` if not specified."
      postalCode:
        type: string
        maxLength: 10
        pattern: '[\s\S]*'
        description: "The postal code for the address."
      email:
        type: string
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The driver's email address."
      phone:
        type: string
        maxLength: 50
        pattern: '[\s\S]*'
        description: "The driver's primary phone number."
      alternatePhone:
        type: string
        maxLength: 50
        pattern: '[\s\S]*'
        description: "The driver's alternate phone number."
      startDate:
        type: string
        format: "date"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The driver's start date on the Motus platform, formatted as YYYY-MM-DD."
      endDate:
        type: string
        format: "date"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The driver's end date on the Motus platform, formatted as YYYY-MM-DD."
      leaveStartDate:
        type: string
        format: "date"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The start date of the driver's leave of absence, formatted as YYYY-MM-DD. If the full term of a driver's leave is known, provide both the leave start and leave end date. If a driver's leave is indefinite, provide the leave start date. If a leave end date is provided without a leave start date, the call will return an error."
      leaveEndDate:
        type: string
        format: "date"
        maxLength: 255
        pattern: '[\s\S]*'
        description: "The end date of the driver's leave of absence on the Motus platform, formatted as YYYY-MM-DD. If the full term of a driver's leave is known, provide both the leave start and leave end date. If a driver's leave is indefinite, provide the leave start date. If a leave end date is provided without a leave start date, the call will return an error."
      annualBusinessMiles:
        type: integer
        format: "int64"
        maximum: 10000000000.0
        minimum: 0.0
        description: "The driver's expected annual miles driven for business purposes. If blank, annual business miles will default to the annual expected business mileage set for the provided Program ID."
      commuteDeductionType:
        type: string
        maxLength: 255
        pattern: '[\s\S]*'
        description: |
          The type of the commute deduction. If blank, no commute deduction will be applied.  The following are the possible enum values:
          Type|Description
          ----|-----------
          RegularOffice|Regular Office - Deduct round-trip commute if Office Location is visited
          RegularOfficeIRS|IRS  Regular Office - IRS Commute Deduction Policy
          RegularOfficeDeductAll|DeductAll  Regular Office - Always deduct round-trip commute
          NoOfficeFirstLast|No Office - Always deduct first and last trip of the day
          NoOfficeCap|No Office - Commute Deduction Cap (X Miles)
          NoOfficeRadius|No Office - Metro Area Radius (IRS) (X Miles)
          NoOfficeDailyCap|No Office - Daily Commute Cap (X Miles)
          HomeOffice|Home Office (No Commute Deduction)
        enum:
          - "RegularOffice"
          - "RegularOfficeIRS"
          - "RegularOfficeDeductAll"
          - "NoOfficeFirstLast"
          - "NoOfficeCap"
          - "NoOfficeRadius"
          - "NoOfficeDailyCap"
          - "HomeOffice"
      commuteDeductionCap:
        type: "integer"
        format: "int64"
        maximum: 10000000000.0
        minimum: 0.0
        description: "The maximum allowable value for the commute deduction where the type is NoOfficeCap or NoOfficeRadius. There is no default value for Commute Deduction Cap. If blank when Commute Deduction Type is NoOfficeCap or NoOfficeRadius, the call will return an error."
      customVariables:
        type: "array"
        maxItems: 100
        description: "A list of customer-defined data fields. These must be configured with Motus before being sent via the API."
        items:
          $ref: '#/definitions/CustomField'
  CustomField:
    type: object
    properties:
      name:
        type: string
        maxLength: 255
        pattern: '[\s\S]*'
        example: "costCenter"
      value:
        type: string
        maxLength: 255
        pattern: '[\s\S]*'
        example: "Accounting"
  Error:
    type: "object"
    properties:
      message:
        type: "string"
        maxLength: 255
        pattern: '[\s\S]*'
      code:
        type: "integer"
        format: "int64"
        maximum: 10000000000.0
        minimum: 0.0